@import url("../../variables.css");
@import url("../../animations.css");

#projects-triangle-bottomright {
  position: absolute;
  width: 50vw;
  height: 60vh;
  bottom: 0;
  right: 0;
  opacity: 0.8;
}

#projects-triangle-bottomright::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 90vh 50vw;
  border-style: solid;
  border-color: var(--quaternary-color) transparent;
  opacity: 0;
  animation: slideRight 0.75s ease forwards;
  animation-delay: 0.4s;
}

#projects-triangle-bottomright-accent {
  position: absolute;
  width: 51vw;
  height: 61vh;
  bottom: 0;
  right: 0;
  opacity: 0.9;
  z-index: -1;
}

#projects-triangle-bottomright-accent::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 91vh 51vw;
  border-style: solid;
  border-color: var(--primary-color) transparent;
  opacity: 0;
  animation: slideRight 0.75s ease forwards;
  animation-delay: 0.7s;
}

#projects-triangle-topright {
  position: absolute;
  width: 50vw;
  height: 60vh;
  top: 0;
  right: 0;
  opacity: 0.98;
}

#projects-triangle-topright::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 80vh 0 0 50vw;
  border-style: solid;
  border-color: var(--quaternary-color) transparent;
  opacity: 0;
  animation: slideRight 0.75s ease forwards;
  animation-delay: 0.3s;
}

#projects-triangle-topright-accent {
  position: absolute;
  width: 51vw;
  height: 61vh;
  top: 0;
  right: 0;
  opacity: 0.9;
  z-index: -1;
}

#projects-triangle-topright-accent::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 81vh 0 0 51vw;
  border-style: solid;
  border-color: var(--tertiary-color) transparent;
  opacity: 0;
  animation: slideRight 0.75s ease forwards;
  animation-delay: 0.6s;
}

#projects-triangle-topleft {
  position: absolute;
  width: 50vw;
  height: 60vh;
  top: 0;
  left: -40vw;
  opacity: 0.98;
  transform: scaleX(-1);
}

#projects-triangle-topleft::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0 20vh 100vw 0;
  border-style: solid;
  border-color: transparent var(--quaternary-color) transparent transparent;
  opacity: 0;
  animation: slideLeft 0.75s ease forwards;
  animation-delay: 0.4s;
}

#projects-triangle-topleft-accent {
  position: absolute;
  width: 51vw;
  height: 61vh;
  top: 0;
  left: -40vw;
  opacity: 0.9;
  z-index: -1;
  transform: scaleX(-1);
}

#projects-triangle-topleft-accent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0 21vh 101vw 0;
  border-style: solid;
  border-color: transparent var(--tertiary-color) transparent transparent;
  opacity: 0;
  animation: slideLeft 0.75s ease forwards;
  animation-delay: 0.1s;
}

.project-type-btn-container {
  position: absolute;
  top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: slideTop 0.75s ease forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

.project-type-btn-container::after {
  content: "";
  opacity: 1;
  z-index: -1;
}

.project-btn {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.project-btn:hover {
  background-color: var(--primary-color);
  border: 1px solid white;
  color: white;
  cursor: default;
}

.active-project-btn {
  background-color: var(--primary-color);
  border: 1px solid white;
  color: white;
  box-shadow: 0 0 10px var(--primary-color);
}

.fade-out {
  display: none;
  opacity: 0;
  transition: all 0.2s ease-in-out !important;
}

.fade-in {
  display: flex;
  opacity: 1;
  transition: all 0.2s ease-in-out !important;
}

.projects-container {
  display: contents;
  top: 0;
}

.projects {
  display: flex;
  height: 100vh;
  width: 90dvw;
  justify-content: center;
  color: white;
  text-align: center;
  align-items: center;
  margin: auto;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(228, 228, 228, 0.062);
  backdrop-filter: blur(5px);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  z-index: 1;
  padding: 10px;
  overflow: hidden;
  height: 290px;
  transform-origin: top;
  transition: all 0.35s ease-in-out;
  opacity: 0;
  animation: slideTop 0.75s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}

.project-tile:hover {
  background-color: rgba(121, 121, 121, 0.5);
  box-shadow: 0 0 20px 0 var(--primary-color);
  max-height: 450px;
  height: 450px;
  border: 1px solid white;
  z-index: 10;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.5s;
  scale: 1.2;
}

/* Tile animations */
.tile {
  position: relative;
}

.tile:hover .tile-triangle-topright,
.tile:hover .tile-triangle-topright-accent,
.tile:hover .tile-triangle-bottomleft,
.tile:hover .tile-triangle-bottomleft-accent {
  opacity: 0.9 !important;
}

.tile-triangle-topright {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 320px;
  border-style: solid;
  border-width: 0 0 200px 320px;
  border-color: transparent transparent var(--quaternary-color) transparent;
  transform: rotate(-90deg);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.tile-triangle-topright-accent {
  position: absolute;
  top: 0;
  right: 0;
  width: 210px;
  height: 330px;
  border-style: solid;
  border-width: 0 0 210px 330px;
  border-color: transparent transparent var(--primary-color) transparent;
  transform: rotate(-90deg);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: -2;
}

.tile-triangle-bottomleft {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 520px;
  border-style: solid;
  border-width: 0 0 100px 520px;
  border-color: transparent transparent var(--quaternary-color) transparent;
  transform: scaleX(-1) rotate(-90deg);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  animation-delay: 0.5s;
}

.tile-triangle-bottomleft-accent {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 540px;
  border-style: solid;
  border-width: 0 0 110px 540px;
  border-color: transparent transparent var(--tertiary-color) transparent;
  transform: scaleX(-1) rotate(-90deg);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: -2;
}

.tile::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 20vh 20vw; /* Adjust as needed */
  border-style: solid;
  border-color: var(--quaternary-color) transparent;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.tile:hover::before {
  opacity: 0.95;
  z-index: 1;
}

.tile::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 21vh 21vw; /* Adjust as needed */
  border-style: solid;
  border-color: #3e27df transparent;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.tile:hover::after {
  opacity: 1;
}

.text-container {
  position: relative;
  z-index: 1;
}

.preview-project-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-color);
  text-shadow: 0 0 5px var(--tertiary-color);
}

.preview-technologies-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.preview-technologies-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-color);
  text-shadow: 0 0 5px var(--tertiary-color);
}

.expanded {
  background-color: rgba(32, 32, 32, 0.02);
  backdrop-filter: blur(5px);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.6);
  z-index: 15;
  max-height: 50dvh;
  width: 60dvw;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}

.expanded:hover {
  background-color: transparent !important;
}

.expanded:hover::after {
  opacity: 0 !important;
  background-color: transparent !important;
  z-index: -1;
}

.expanded:hover::before {
  opacity: 0 !important;
  background-color: transparent !important;
  z-index: -1;
}

.expanded .preview-project-title,
.expanded .preview-technologies-title,
.expanded .preview-project-description,
.expanded .preview-technologies-container,
.expanded .tile-triangle-bottomleft,
.expanded .tile-triangle-bottomleft-accent,
.expanded .tile-triangle-topright,
.expanded .tile-triangle-topright-accent {
  display: none;
}

.expanded-controls {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.expanded-link {
  background: rgb(41, 41, 41);
  border: 1px solid var(--primary-color);
  color: white;
  text-shadow: var(--primary-color) 0px 0px 3px;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  padding-bottom: 0;
  cursor: pointer;
  font-size: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.expanded-link:hover {
  background-color: rgba(164, 44, 212, 0.895);
  text-shadow: var(--primary-color) 0px 0px 20px;
  color: white;
  border: 1px solid white;
  transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.expanded-button {
  background: rgb(41, 41, 41);
  border: 1px solid var(--tertiary-color);
  color: white;
  text-shadow: var(--tertiary-color) 0px 0px 3px;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  padding-bottom: 0;
  cursor: pointer;
  font-size: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.expanded-button:hover {
  background-color: var(--tertiary-color);
  text-shadow: var(--tertiary-color) 0px 0px 20px;
  color: white;
  border: 1px solid white;
  transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.expanded-project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 58dvh;
  margin: 0;
}

.project-img-container {
  display: flex;
  height: 50dvh;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.project-img {
  background-color: rgba(255, 255, 255, 0.014);
  object-fit: contain;
  width: 33dvw;
  height: 41dvh;
  border-radius: 10px;
}

.expanded-project-title {
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: var(--qu) 0px 0px 1px;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}

.project-description-container {
  font-size: 14px;
  max-height: 50dvh;
  overflow: auto !important;
}

.project-description-header {
  position: sticky;
  top: 10px;
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: var(--qu) 0px 0px 1px;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgba(240, 248, 255, 0);
}

.project-description {
  font-size: clamp(12px, 1.5dvh, 20px);
  overflow: auto !important;
  margin-top: 5px;
  padding-top: 15px;
  margin-bottom: 25px;
  text-align: justify;
}

/* width and height of the scrollbar track */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 1px;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar invisible */
  }

  .project-type-btn-container {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  #fullstack {
    margin-right: 10px !important;
  }

  #frontend {
    margin-left: 10px !important;
  }

  .projects {
    flex-direction: row;
    overflow-y: scroll;
    height: 85vh;
  }

  .projects-inner-container {
    height: 100vh;
    width: 100vw;
    padding-top: 80px;
    overflow: hidden;
    left: -5px;
    position: absolute;
  }

  .expanded-project-row {
    flex-direction: column;
    height: 100%;
    align-items: center !important;
    justify-content: center !important;
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  .expanded-project-row::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .expanded-project-title {
    font-size: 20px;
    margin-left: 0;
    margin-top: 0;
  }

  .expanded-controls {
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .expanded-button {
    scale: 0.7;
  }
  .expanded-link {
    scale: 1.1;
    border-radius: 3px;
    margin-bottom: 6px;
  }

  .projects-row {
    justify-content: center !important;
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  .projects-row::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .project-img-container {
    display: contents;
    align-items: center;
    justify-content: center;
  }

  .project-img {
    width: 95%;
    height: 100%;
    min-height: 20vh;
    max-height: 20vh;
    border-radius: 5px;
  }

  .project-description-container {
    padding: 5px;
    padding-top: 0;
    padding-bottom: 12vh;
    height: 38dvh;
  }

  .project-description {
    overflow: scroll;
    font-size: 11px;
    height: 26vh;
    margin: 0;
    padding-top: 5px;
  }

  .spacer {
    min-height: 3vh;
  }

  .project-description-header {
    display: none;
  }

  .project-tile {
    scale: 0.8;
    margin: 0 !important;
  }

  .about {
    flex-direction: row;
  }

  .project-tile:hover {
    background-color: rgba(121, 121, 121, 0.5);
    box-shadow: 0 0 20px 0 var(--primary-color);
    border: 1px solid white;
    z-index: 10;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.5s;
    scale: 0.9;
  }
}
