@import url("../../variables.css");
@import url("../../animations.css");

#projects-triangle-bottomright {
  position: absolute;
  width: 50vw;
  height: 60vh;
  bottom: 0;
  right: 0;
  opacity: 0.8;
}

#projects-triangle-bottomright::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 90vh 50vw;
  border-style: solid;
  border-color: var(--quaternary-color) transparent;
  opacity: 0;
  animation: slideRight 0.75s ease forwards;
  animation-delay: 0.4s;
}

#projects-triangle-bottomright-accent {
  position: absolute;
  width: 51vw;
  height: 61vh;
  bottom: 0;
  right: 0;
  opacity: 0.9;
  z-index: -1;
}

#projects-triangle-bottomright-accent::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 91vh 51vw;
  border-style: solid;
  border-color: var(--primary-color) transparent;
  opacity: 0;
  animation: slideRight 0.75s ease forwards;
  animation-delay: 0.7s;
}

#projects-triangle-topright {
  position: absolute;
  width: 50vw;
  height: 60vh;
  top: 0;
  right: 0;
  opacity: 0.98;
}

#projects-triangle-topright::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 80vh 0 0 50vw;
  border-style: solid;
  border-color: var(--quaternary-color) transparent;
  opacity: 0;
  animation: slideRight 0.75s ease forwards;
  animation-delay: 0.3s;
}

#projects-triangle-topright-accent {
  position: absolute;
  width: 51vw;
  height: 61vh;
  top: 0;
  right: 0;
  opacity: 0.9;
  z-index: -1;
}

#projects-triangle-topright-accent::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 81vh 0 0 51vw;
  border-style: solid;
  border-color: var(--tertiary-color) transparent;
  opacity: 0;
  animation: slideRight 0.75s ease forwards;
  animation-delay: 0.6s;
}

#projects-triangle-topleft {
  position: absolute;
  width: 50vw;
  height: 60vh;
  top: 0;
  left: -40vw;
  opacity: 0.98;
  transform: scaleX(-1);
}

#projects-triangle-topleft::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0 20vh 100vw 0;
  border-style: solid;
  border-color: transparent var(--quaternary-color) transparent transparent;
  opacity: 0;
  animation: slideLeft 0.75s ease forwards;
  animation-delay: 0.4s;
}

#projects-triangle-topleft-accent {
  position: absolute;
  width: 51vw;
  height: 61vh;
  top: 0;
  left: -40vw;
  opacity: 0.9;
  z-index: -1;
  transform: scaleX(-1);
}

#projects-triangle-topleft-accent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0 21vh 101vw 0;
  border-style: solid;
  border-color: transparent var(--tertiary-color) transparent transparent;
  opacity: 0;
  animation: slideLeft 0.75s ease forwards;
  animation-delay: 0.1s;
}

.projects-container {
  display: contents;
  top: 0;
}

.projects {
  display: flex;
  height: 100vh;
  width: 90dvw;
  justify-content: center;
  color: white;
  text-align: center;
  align-items: center;

  margin: auto;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(75, 74, 74, 0.062);
  backdrop-filter: blur(5px);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  z-index: 1;
  padding: 10px;
  max-height: 290px;
  overflow: hidden;
  transform-origin: top;
  transition: all 0.35s ease-in-out;
}

.project-tile:hover {
  transform: translate3d(0, -10px, 0);
  background-color: rgba(62, 39, 222, 0.5);
  box-shadow: 0 0 10px 0 var(--primary-color);
  z-index: 10;
}

.chess-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.airbnb-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
}

.twitter-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
}

.tile:hover {
  height: 500px;
  max-height: 500px;
  z-index: 10;
  justify-content: center;
  scale: 1.2;

  border: 1px solid var(--tertiary-color);
  opacity: 1;
}

.preview-project-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-color);
  text-shadow: 0 0 5px var(--tertiary-color);
}

.preview-technologies-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.preview-technologies-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-color);
  text-shadow: 0 0 5px var(--tertiary-color);
}

.expanded {
  background-color: rgba(32, 32, 32, 0.02);
  backdrop-filter: blur(5px);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.6);
  z-index: 15;
  max-height: 50dvh;
  width: 60dvw;
  overflow: hidden;
  transition: all 0.8s ease;
}

.expanded .preview-project-title {
  display: none;
}

.expanded .preview-project-description {
  display: none;
}

.expanded .preview-technologies-container {
  display: none;
}

.expanded-controls {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.expanded-link {
  background: rgb(41, 41, 41);
  border: 1px solid var(--primary-color);
  color: white;
  text-shadow: var(--primary-color) 0px 0px 3px;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  padding-bottom: 0;
  cursor: pointer;
  font-size: 10px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.expanded-link:hover {
  background-color: rgba(164, 44, 212, 0.895);
  text-shadow: var(--primary-color) 0px 0px 20px;
  color: white;
  border: 1px solid white;
  transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.expanded-button {
  background: rgb(41, 41, 41);
  border: 1px solid var(--tertiary-color);
  color: white;
  text-shadow: var(--tertiary-color) 0px 0px 3px;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  padding-bottom: 0;
  cursor: pointer;
  font-size: 10px;
  transition: all 0.5s ease;
}

.expanded-button:hover {
  background-color: var(--tertiary-color);
  text-shadow: var(--tertiary-color) 0px 0px 20px;
  color: white;
  border: 1px solid white;
  transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.expanded-project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 58dvh;
  margin: 0;
}

.project-img-container {
  display: flex;
  height: 50dvh;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.expanded-project-title {
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  text-shadow: var(--qu) 0px 0px 1px;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}

.project-img {
  object-fit: contain;
  width: 33dvw;
  height: 41dvh;
  border-radius: 10px;
}

.project-description-container {
  font-size: 14px;
  max-height: 50dvh;
  overflow: auto !important;
}

.project-description-header {
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  text-shadow: var(--qu) 0px 0px 1px;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}

.project-description {
  font-size: 12px;
  overflow: auto !important;
  margin-top: 5px;
  padding-top: 15px;
  margin-bottom: 25px;
  text-align: justify;
}

/* width and height of the scrollbar track */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 1px;
}

/* scrollbar track */

@media screen and (max-width: 768px) {
  body {
    overflow: auto;
  }
  .projects {
    flex-direction: row;
  }

  .projects-inner-container {
    height: 100vh;
    width: 100vw;
    padding-top: 80px;
  }

  .project-img-container {
    display: contents;
    align-items: center;
    justify-content: center;
  }

  .project-img {
    width: 95%;
    height: 100%;
    max-height: 235px;
    border-radius: 5px;
  }

  .expanded-project-row {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .expanded-project-title {
    font-size: 24px;
    margin-left: 0;
    margin-top: 0;
  }

  .expanded-controls {
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .expanded-button {
    scale: 0.7;
  }
  .expanded-link {
    scale: 1.1;
    border-radius: 3px;
    margin-bottom: 6px;
  }

  .project-description-container {
    padding: 0px;
  }

  .project-description {
    overflow: scroll;
    font-size: 12px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 40px;
    height: 35dvh;
  }

  .project-description-header {
    display: none;
  }

  .project-tile {
    scale: 0.8;
    margin: 0 !important;
  }

  .about {
    flex-direction: row;
  }
}
