@import url("../../variables.css");
@import url("../../animations.css");

.about-triangle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#about-triangle-bottomright {
  position: absolute;
  width: 50vw;
  height: 60vh;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  transform: scaleX(-1);
}

#about-triangle-bottomright::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 90vh 50vw;
  border-style: solid;
  border-color: var(--quaternary-color) transparent;
  opacity: 0;
  animation: slideRight 0.75s ease forwards;
  animation-delay: 0.4s;
}

#about-triangle-bottomright-accent {
  position: absolute;
  width: 51vw;
  height: 61vh;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  z-index: -1;
  transform: scaleX(-1);
}

#about-triangle-bottomright-accent::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 91vh 51vw;
  border-style: solid;
  border-color: var(--primary-color) transparent;
  opacity: 0;
  animation: slideRight 0.75s ease forwards;
  animation-delay: 0.7s;
}

#about-triangle-topright {
  position: absolute;
  width: 50vw;
  height: 60vh;
  top: 0;
  left: 0;
  opacity: 0.98;
  transform: scaleX(-1);
}

#about-triangle-topright::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 80vh 0 0 50vw;
  border-style: solid;
  border-color: var(--quaternary-color) transparent;
  opacity: 0;
  animation: slideRight 0.75s ease forwards;
  animation-delay: 0.3s;
}

#about-triangle-topright-accent {
  position: absolute;
  width: 51vw;
  height: 61vh;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: -1;
  transform: scaleX(-1);
}

#about-triangle-topright-accent::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 81vh 0 0 51vw;
  border-style: solid;
  border-color: var(--tertiary-color) transparent;
  opacity: 0;
  animation: slideRight 0.75s ease forwards;
  animation-delay: 0.6s;
}

#about-triangle-topleft {
  position: absolute;
  width: 50vw;
  height: 60vh;
  top: 0;
  right: -40dvw;
  opacity: 0.98;
}

#about-triangle-topleft::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0 20vh 100vw 0;
  border-style: solid;
  border-color: transparent var(--quaternary-color) transparent transparent;
  opacity: 0;
  animation: slideLeft 0.75s ease forwards;
  animation-delay: 0.4s;
}

#about-triangle-topleft-accent {
  position: absolute;
  width: 51vw;
  height: 61vh;
  top: 0;
  right: -40vw;
  opacity: 0.9;
  z-index: -1;
}

#about-triangle-topleft-accent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0 21vh 101vw 0;
  border-style: solid;
  border-color: transparent var(--tertiary-color) transparent transparent;
  opacity: 0;
  animation: slideLeft 0.75s ease forwards;
  animation-delay: 0.1s;
}

.about-container {
  display: contents;
  top: 0;
}

.about {
  display: flex;
  height: 100vh;
  width: 95vw;
  justify-content: space-between;
  color: white;
  text-align: center;
  align-items: center;
  margin: auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-height: 601px;
}

.about-content-inner {
  /* border: 2px solid var(--primary-color);
  border-radius: 10px; */
  /* background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px); */
  padding: 5px;
  transition: all 2s ease 10s;
}

.about-content h1 {
  font-size: 2.75rem;
  font-weight: 700;
  text-shadow: black 0px 0px 10px;
}

.about-content p {
  font-size: 1.25rem;
  font-weight: 500;
  opacity: 0;
  animation: slideLeft 0.5s ease forwards;
  animation-delay: 0.2s;
  text-align: justify;
}

.about-content h1 span {
  color: var(--secondary-color);
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(1s + 0.2s * var(--i));
}

.about-img {
  position: relative;
}

.about-img img {
  width: 550px;
  object-fit: cover;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImg 4s ease-in-out infinite;
  animation-delay: 0.4s;
}

.about-content .typed {
  display: flex;
  top: 0;
}

@media screen and (max-width: 768px) {
  body {
    overflow: auto;
  }

  .about-container {
    position: fixed;
  }

  .about {
    margin-top: 50px;
    align-items: normal;
    width: 90dvw;
  }

  .about-typed {
    font-size: 18px !important;
  }

  .about-img {
    position: static;
    z-index: 100;
    scale: 0.9;
  }
}
